marketpartners.ru, www.marketpartners.ru {
    root * /var/www/marketpartners
    file_server
    encode gzip
}
biomed.marketpartners.ru {
    reverse_proxy https://wb-dashboard-6wxf.onrender.com {
        header_up Host wb-dashboard-6wxf.onrender.com
    }
}
fk.marketpartners.ru {
    reverse_proxy https://fk-dashboard.onrender.com {
        header_up Host fk-dashboard.onrender.com
    }
}
